div#test{
    border: #000 1px solid;
    padding: 10px 40px 40px 40px;

}
.well-image{
    width
}
.top-buffer {
    margin-top: 20px;
}
.answer{
	padding: 15px 20px;
	border-radius: 10px;
	border: 1px solid #bbb;
}
.answer:hover{
	cursor: pointer;
}